.ant-table .ant-table-body .ant-table-thead th {
  background: #393939;
  color: #888;
  border-bottom: 1px solid #393939;
  padding: 10px;
  font-size: 12px;
}
.table-row {
  color: #fff;
  td {
    border-bottom: 1px solid #393939 !important;
    padding: 10px !important;
  }
  td.name-col,
  td.album-col,
  td.singer-col {
    span.text {
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
    }
  }
  .name-content {
    display: flex;
    .cells {
      display: flex;
      flex: 1;
      justify-content: space-between;
      align-items: center;
      .tags {
        display: flex;
        flex-wrap: nowrap;
        margin-right: 20px;
        .tag {
          margin-left: 5px;
        }
        .mv:hover {
          cursor: pointer;
        }
      }
      &:hover {
        .controls {
          display: flex;
        }
      }
      .controls {
        display: none;
        width: 80px;
        cursor: pointer;
        .cell-play {
          position: relative;
          width: 20px;
          height: 20px;
          img {
            position: absolute;
            top: 0;
            left: 0;
          }
          &--hover {
            visibility: hidden;
          }
          &:hover {
            .cell-play--hover {
              visibility: visible;
            }
          }
        }
        .cell-love {
          position: relative;
          width: 20px;
          height: 20px;
          img {
            position: absolute;
            top: 0;
            left: 0;
          }
          &--hover {
            visibility: hidden;
          }
          &:hover {
            .cell-love--hover {
              visibility: visible;
            }
          }
        }
        .cell-download {
          position: relative;
          width: 20px;
          height: 20px;
          img {
            position: absolute;
            top: 0;
            left: 0;
          }
          &--hover {
            visibility: hidden;
          }
          &:hover {
            .cell-download--hover {
              visibility: visible;
            }
          }
        }
        .cell-menu {
          position: relative;
          width: 20px;
          height: 20px;
          img {
            position: absolute;
            top: 2px;
            left: 2px;
          }
          &--hover {
            visibility: hidden;
          }
          &:hover {
            .cell-menu--hover {
              visibility: visible;
            }
          }
        }
      }
    }
  }
  &:hover {
    td {
      background: #303030 !important;
    }
  }
}
