.album-detail {
  &__content {
    padding: 0 20px 0 20px;
    .ant-tabs-nav-wrap {
      text-align: left;
      .ant-tabs-tab {
        &-active {
          color: #3fc080;
        }
        &:hover {
          color: #3fc080;
        }
      }
      .ant-tabs-ink-bar {
        background-color: #3fc080;
      }
      &::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        display: inline-block;
        width: 100%;
        height: 1px;
        background-color: rgb(57, 57, 57);
      }
    }
    .album-songlist__header.album-single-song {
      background: #393939;
      margin-top: 8px;
      font-size: 12px;
      &:hover {
        background: #393939;
      }
      span {
        color: rgb(127, 127, 127);
        font-weight: bold;
      }
      .album-single-song--songName {
        padding-left: 40px;
      }
    }
    .album-single-song {
      display: grid;
      grid-template-columns: auto 23% 80px;
      width: 100%;
      height: 42px;
      place-items: center start;
      border-bottom: 1px solid #393939;
      &:hover {
        background: #303030;
        .song-controls {
          display: flex;
        }
      }
      &--name {
        display: flex;
        justify-content: space-between;
        width: 100%;
        .cells {
          display: flex;
          flex: 1;
          justify-content: space-between;
          align-items: center;
          .tags {
            display: flex;
            flex-wrap: nowrap;
            margin-right: 20px;
            .tag {
              margin-left: 5px;
            }
            .mv:hover {
              cursor: pointer;
            }
          }
          &:hover {
            .song-controls {
              display: flex;
            }
          }
        }
      }
    }
  }
}
