.mybutton {
  border: 1px solid #575757;
  outline: none;
  border-radius: 3px;
  padding: 0 15px 1px;
  color: #fff;
  cursor: pointer;
}
.primary {
  background: #3fc080;
  border: 1px solid #3fc080;
  color: #fff;
  &:hover {
    background: #3cb67a;
  }
}

@media (prefers-color-scheme: dark) {
  .mybutton {
    background: rgb(57, 57, 57);
    &:hover {
      background: rgb(69, 69, 69);
    }
  }
  .mybutton.primary {
    color: #3fc080;
  }
}

.mybutton.ghost {
  background: transparent;
  transition: all 0.5s;
  &:hover {
    background: rgba(57, 57, 57, 0.3);
  }
}
