.wave-wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 14px;
  margin: 0 3px;
  padding: 3px 0 0;
  span {
    width: 2px;
    background: #3fc080;
    &:first-child {
      height: 20%;
      // animation: firstWave 1s linear infinite;
    }
    &:nth-child(2) {
      height: 60%;
      // animation: secondWave 1s linear infinite;
    }
    &:nth-child(3) {
      height: 50%;
      // animation: thirdWave 1s linear infinite;
    }
    &:nth-child(4) {
      height: 100%;
      // animation: lastWave 1s linear infinite;
    }
  }
}

.animation-wave-start {
  span {
    &:first-child {
      animation: firstWave 1s linear infinite;
    }
    &:nth-child(2) {
      animation: secondWave 1s linear infinite;
    }
    &:nth-child(3) {
      animation: thirdWave 1s linear infinite;
    }
    &:nth-child(4) {
      animation: lastWave 1s linear infinite;
    }
  }
}

@keyframes firstWave {
  0% {
    height: 20%;
  }
  25% {
    height: 60%;
  }
  50% {
    height: 100%;
  }
  75% {
    height: 60%;
  }
  100% {
    height: 20%;
  }
}

@keyframes secondWave {
  0% {
    height: 60%;
  }
  25% {
    height: 20%;
  }
  50% {
    height: 60%;
  }
  75% {
    height: 100%;
  }
  100% {
    height: 60%;
  }
}

@keyframes thirdWave {
  0% {
    height: 50%;
  }
  25% {
    height: 90%;
  }
  31% {
    height: 100%;
  }
  50% {
    height: 70%;
  }
  75% {
    height: 30%;
  }
  81% {
    height: 20%;
  }
  100% {
    height: 50%;
  }
}

@keyframes lastWave {
  0% {
    height: 100%;
  }
  25% {
    height: 60%;
  }
  50% {
    height: 20%;
  }
  75% {
    height: 60%;
  }
  100% {
    height: 100%;
  }
}
