@font-face {
  font-family: "iconfont";
  src: url('//at.alicdn.com/t/font_1412218_8zw1n9ad8x4.eot?t=1568818440570');
  /* IE9 */
  src: url('//at.alicdn.com/t/font_1412218_8zw1n9ad8x4.eot?t=1568818440570#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAALIAAsAAAAABtQAAAJ8AAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCDFAqBFIEMATYCJAMQCwoABCAFhG0HTBv6BREVlANkXxxkci/mDhnibb7yQ6yG5nyb0YTC/R4P9Gu092X3/u0i3lwtqScSTL8OiUqkZI+eyVsEzDXF6T9/rd+waJALtIWr6amT5830nRdbmMaf6INE+q8HYgMupz+BHuS/OssCSXktatPYCwOMAwpsb3uKrEAC84axC1zCYwIao8wQNmzacUCRWasCwo2rl88quaAss0wR1DUHcwxvVUp8HeNN+P3wz7xQiKrE2rjn0sYL1vyMP6v0vHvuhE8IEcDjFRJmIBPO1CaPSQLjkua2bBZqWRB/pp9V1zGnKrSxT3OBf7woEWpWeT+wAKUSP6MrJ/AzmZQtFRQhgQwKGozDHMzmvEpFtszBq3nUluZum5uQr5ubbTT2FNjr5OWNadGr53369r38qm+IXtFuXP73y0XXD+qUhq2Y/vbrj/AXf+PdN09b8b+0GXx+f6mEK7vnWXqOIo7Q/LOunOi6jOus8pyRk6tb5cVssApENBp0kHeIH3NYh/eOE5SchiHqMRJJMYHM7AxUWgtQK1ajMd3m462hbkpC1vZimidAMMgLogE+IRnklczsJyoj/KM2KFTROBT6F7Ymhag2U3AMfHIvFHmcC8dpalHlGsEhdVRWF/J7KB1FaDxrTjGzQg41xxZ9DCbGCBKKM1qC55CmTIXiGJ4ZhMYU0+HsS3VvGniclWrWU8BhgI+4LkjEw3LCH23USp9fg8BByqFaBmqKe6Bo0eRkbGDUg1yZ814D9yJGOwpMGIZABIVlyBJ4ILWTjBT182LgMQbCEfHC1BANE33Ng/Wt2Rceg4Z1XQ4xpJBDJd908qTmhRx5Fz9F61bIGSyFuyzIkPulEg==') format('woff2'),
    url('//at.alicdn.com/t/font_1412218_8zw1n9ad8x4.woff?t=1568818440570') format('woff'),
    url('//at.alicdn.com/t/font_1412218_8zw1n9ad8x4.ttf?t=1568818440570') format('truetype'),
    /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
    url('//at.alicdn.com/t/font_1412218_8zw1n9ad8x4.svg?t=1568818440570#iconfont') format('svg');
  /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-rank:before {
  content: "\e602";
}

.icon-choiceness:before {
  content: "\e603";
}

.icon-home_recommend:before {
  content: "\e605";
}
