.App {
  position: relative;
  height: 100vh;
  padding-top: 45px;
  text-align: center;
  box-sizing: border-box;
  background: rgb(45, 45, 45);
  color: #fff;
  font-size: 14px;
}
a {
  color: #fff;
  text-decoration: none;
}
