.album-list-item {
  position: relative;
  text-align: left;
  box-sizing: border-box;
  padding: 0 8px 20px;
  list-style: none;
  cursor: pointer;
  @media (max-width: 1610px) {
    width: 20%;
  }
  @media (min-width: 1611px) {
    width: 16.6%;
  }
  .img-wrapper {
    position: relative;
    margin-bottom: 10px;
    img.list-item-cover {
      width: 100%;
      height: 100%;
      transition: all 0.3s;
    }
    .list-item-control {
      visibility: hidden;
      img {
        position: absolute;
        right: 5px;
        bottom: 5px;
        width: 28px;
        height: 28px;
      }
    }
    &:hover {
      .list-item-cover {
        filter: brightness(70%);
      }
      .list-item-control {
        &-play {
          visibility: visible;
        }
        &:hover {
          .list-item-control-play {
            visibility: hidden;
          }
          .list-item-control-play--hover {
            visibility: visible;
          }
        }
      }
    }
  }
  &__names {
    position: absolute;
    display: flex;
    flex-direction: column;
    font-weight: 500;
    &--singer {
      margin-top: 3px;
      font-size: 12px;
    }
  }
}
